{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="{%static 'company/assets/css/animate.min.css'%}">
    <link rel="stylesheet" href="{%static 'company/assets/css/fontawesome.min.css'%}">
    <link rel="stylesheet" href="{%static 'company/assets/bootstrap-icon/bootstrap-icons.css'%}">
    <link rel="stylesheet" href="{%static 'company/assets/css/jquery.mCustomScrollbar.min.css'%}">
    <link rel="stylesheet" href="{%static 'company/assets/css/sweetalert.css'%}">
    <link rel="stylesheet" href="{%static 'company/assets/css/toastify.min.css'%}">
    <link rel="stylesheet" href="{%static 'company/assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'company/assets/css/style.css'%}">
</head>
<body>
     <div class="container-fluid">
        <div class="form-area">
            <div class="form-row">
                <div class="form-panel">
                    <div class="logo mb-5">
                        <h1>Coder's Hub</h1>
                       <!-- <img src="assets/images/logo.png" alt="logo">-->
                        <p class="text-center mt-20"><span class="d-block fw-bold mb-10 fs-6">New here?</span> Signing up is easy. It only takes a few steps.</p>
                    </div>
                    <form class="mb-4" action="/company/registation_company_store" method="post">
                        {%csrf_token%}
                        <div class="mb-4">
                            <div class="form-group has-icon-left">
                                <input type="text" class="form-control form-control-lg" placeholder="@  Company Name" id="cname" name="cname">
                                <div class="form-control-icon">
                                    <i class="bi bi-person-fill"></i>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="form-group has-icon-left">
                                <input type="email" class="form-control form-control-lg" placeholder="Emai" id="email" name="email">
                                <div class="form-control-icon">
                                    <i class="bi bi-envelope-fill"></i>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="form-group has-icon-left">
                                <input type="text" class="form-control form-control-lg" placeholder="Phone Number" id="number" name="number">
                                <div class="form-control-icon">
                                    <i class="bi bi-person-fill"></i>
                                </div>
                            </div>
                        </div>

                        <div class="mb-4">
                            <div class="form-group has-icon-left">
                                <input type="text" class="form-control form-control-lg" placeholder="Owner Name" id="ownername" name="ownername">
                                <div class="form-control-icon">
                                    <i class="bi bi-person-fill"></i>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="form-group has-icon-left">
                                 <textarea class="form-control form-control-lg" placeholder="Address" id="address" name="address"></textarea>
                                <div class="form-control-icon">
                                    <i class="bi bi-person-fill"></i>
                                </div>
                            </div>
                        </div>
                         <div class="mb-4">
                            <div class="form-group has-icon-left">
                                 <textarea class="form-control form-control-lg" placeholder="About Company" id="acompany" name="acompany"></textarea>
                                <div class="form-control-icon">
                                    <i class="bi bi-person-fill"></i>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="form-group has-icon-left">
                                <input type="text" class="form-control form-control-lg" placeholder="User Name" id="uname" name="uname">
                                <div class="form-control-icon">
                                    <i class="bi bi-person-fill"></i>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mb-4">
                            <div class="form-group has-icon-left">
                                <input type="password" class="form-control form-control-lg" placeholder="Password" id="pass" name="pass">
                                <div class="form-control-icon">
                                    <i class="bi bi-key-fill"></i>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="form-group has-icon-left">
                                <input type="password" class="form-control form-control-lg" placeholder="Confirm Password" id="cpass" name="cpass">
                                <div class="form-control-icon">
                                    <i class="bi bi-key-fill"></i>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary w-100" id="submit" name="submit" value="submit">Sign Up</button>
                    </form>
                    <p>Already have an account? <a href="/company/login_company/">Sign in</a> here</p>
                </div>
            </div>
        </div>
    </div>

    <script src="{%static 'company/assets/js/jquery-3.6.0.min.js'%}"></script>
    <script src="{%static 'company/assets/js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
    <script src="{%static 'company/assets/js/apexcharts.js'%}"></script>
    <script src="{%static 'company/assets/js/sweetalert.min.js'%}"></script>
    <script src="{%static 'company/assets/js/toastify-js.js'%}"></script>
    <script src="{%static 'company/assets/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static 'company/assets/js/main.js'%}"></script>
</body>
</html>
{% endblock %}