{% extends 'company/layout.html' %}
{% block content %}
 <div class="col-md-12">
        <div class="main-content">
            <div class="breadcrumb-wrap mb-20">
                <div class="d-md-flex d-block justify-content-between align-items-center">
                    <div class="left">
                        <h1>View Vacancys</h1>
                       
                    </div>
                    <div class="right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Manage Vacancy</a></li>
                                <li class="breadcrumb-item"><i class="bi bi-caret-right"></i></li>
                                <li class="breadcrumb-item active" aria-current="page">View Vacancys</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            </div>

<div class="main-content">
 <div class="col-xl-12 col-lg-12">
                    <div class="panel mb-10">
                        <div class="panel-heading">
                            <span>View Vacancys</span>
                        </div>
                        <div class="panel-body">
                            
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Title</th> 
                                            <th>Edit</th>
                                            <th>Details</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in result %}
                                        <tr>
                                            <td>{{row.id}}</td>
                                            <td>{{row.Tite}}</td>
                                             <td><a href="/company/edit_vacancy/{{row.id}}"><button type="button" class="btn btn-primary" >Edit</button></td>
                                            <td><a type="button" class="btn btn-primary" href="/company/vacancy_details/{{row.id}}">Details</a></td>
                                           <td><a type="button" class="btn btn-primary" href="/company/delete_vacancy/{{row.id}}">Delete</a></td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-content">
                <div class="col-xl-12 col-lg-12">
                    <div class="panel mb-10">
{%endblock%}