    <footer class="w3l-footer-16">
        <div class="w3l-footer-16-main">
            <div class="container">
                <div class="row footer-p">
                    <div class="col-lg-12 mt-lg-0 mt-4 pr-lg-5">
                        <div class="d-sm-flex align-items-center top-footer-content mb-5">
                            <a class="logo d-flex align-items-center" href="index.html"><i
                                    class="fab fa-accusoft icon-color mr-1"></i>Coder's <span>Hub</span></a>
                            <p class="top-p ml-sm-4 pl-sm-4 mt-sm-0 mt-2"></p>
                        </div>
                        <div class="row footer-grids pt-4">
                            <div class="col-sm-4 col-6 column">
                                <ul class="footer-gd-16">
                                    <li><a href="/user/home"><i class="fa fa-angle-right"
                                                aria-hidden="true"></i>Home</a></li>
                                    <li><a href="/user/aboutus"><i class="fa fa-angle-right" aria-hidden="true"></i>About
                                            Us</a></li>
                                    <li><a href="/user/services"><i class="fa fa-angle-right"
                                                aria-hidden="true"></i>Services</a></li>
                                    <li><a href="#blog"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog
                                            Posts</a></li>
                                    <li><a href="/user/contactus"><i class="fa fa-angle-right"
                                                aria-hidden="true"></i>Contact Us</a></li>
                                </ul>
                            </div>
                            
                            <div class="col-sm-4 col-6 column pl-sm-0">
                                <ul class="footer-gd-16">
                                    <li><a href="#support"><i class="fa fa-angle-right"
                                                aria-hidden="true"></i>Support</a></li>
                                    <li><a href="#privacy"><i class="fa fa-angle-right" aria-hidden="true"></i>Privacy
                                            Policy</a></li>
                                    <li><a href="#terms"><i class="fa fa-angle-right" aria-hidden="true"></i>Terms &
                                            conditions</a></li>
                                    <li><a href="#faq"><i class="fa fa-angle-right" aria-hidden="true"></i>FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="below-section mt-5 text-center">
                    <p class="copy-text">@ 2024 Setup. All rights reserved. Design by <a href="/user/home"
                            target="_blank">
                            Coder's Hub</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>