{% extends 'myadmin/layout.html' %}
{%load static%}
{% block content %}
 <div class="col-md-12">
        <div class="main-content">
            <div class="breadcrumb-wrap mb-20">
                <div class="d-md-flex d-block justify-content-between align-items-center">
                    <div class="left">
                        <h1>Project  Details</h1>
                       
                    </div>
                    <div class="right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Project</a></li>
                                <li class="breadcrumb-item"><i class="bi bi-caret-right"></i></li>
                                <li class="breadcrumb-item active" aria-current="page">Project  Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            </div>

 <div class="main-content">
            <div class="breadcrumb-wrap mb-20">
                <div class="d-md-flex d-block justify-content-between align-items-center">

<div class="panel mb-10">
                        <div class="panel-heading">
                            <span>Project  Details</span>
                        </div>
                        <div class="panel-body">
                            <div class="card mb-3" style="max-width: 100%;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="{%static 'company/assets/images/image-6.jpg'%}" class="img-fluid" alt="card image" style="height:100%;">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                             <div class="title-box">
                                                <h2 class="card-title">ID : {{result.id}} </h2>
                                            </div>
                                            <div class="title-box">
                                                <h2 class="card-title">Title : {{result.title}}</h2>
                                            </div>
                                             <div class="title-box">
                                                <h2 class="card-title">Description : </h2>
                                                <p>{{result.description}}</p>
                                                
                                            </div>
                                            <div class="title-box">
                                                <h2 class="card-title">abstract  : {{result.abstract}}</h2>
                                            </div>
                                            <div class="title-box">
                                                <h2 class="card-title">Document : {{result.document}}</h2>
                                            </div>
                                             <div class="title-box">
                                                <h2 class="card-title">Source Code : {{result.sourcecode}}</h2>
                                            </div>
                                             <div class="title-box">
                                                <h2 class="card-title">Techonology : {{result.tech.tech_name}}</h2>
                                            </div>
                                             <div class="title-box">
                                                <h2 class="card-title">Sub-Technology : {{result.subtech.subtech_name}}</h2>
                                            </div>
                                            
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="main-content">
                <div class="col-xl-12 col-lg-12">
                    <div class="panel mb-10">
{%endblock%}