<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Admin</title>

    <link rel="stylesheet" href="{%static 'myadmin/assets/css/animate.min.css'%}">
    <link rel="stylesheet" href="{%static 'myadmin/assets/bootstrap-icon/bootstrap-icons.css'%}">
    <link rel="stylesheet" href="{%static 'myadmin/assets/css/jquery.mCustomScrollbar.min.css'%}">
    <link rel="stylesheet" href="{%static 'myadmin/assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'myadmin/assets/css/style.css'%}">
</head>
<body>
    {%include 'myadmin/common/siderbar.html'%}
<!-- Header-->
      <!--  {%include 'myadmin/common/header.html'%}-->
       <!-- main block contant -->
       {%block content%}
         hello
       {%endblock%}
       
       {%include 'myadmin/common/footer.html'%}


    <script src="{%static 'myadmin/assets/js/jquery-3.6.0.min.js'%}"></script>
    <script src="{%static 'myadmin/assets/js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
    <script src="{%static 'myadmin/assets/js/apexcharts.js'%}"></script>
    <script src="{%static 'myadmin/assets/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static 'myadmin/assets/js/main.js'%}"></script>
    <script src="{%static 'myadmin/assets/js/chart-init.js'%}"></script>
</body>
</html>