{% extends 'myadmin/layout.html' %}

{% block content %}
<div class="col-md-12">
        <div class="main-content">
            <div class="breadcrumb-wrap mb-20">
                <div class="d-md-flex d-block justify-content-between align-items-center">
                    <div class="left">
                        <h1>Manage Sub-Technology</h1>
                        
                    </div>
                    <div class="right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Manage Sub-Technology</a></li>
                                <li class="breadcrumb-item"><i class="bi bi-caret-right"></i></li>
                                <li class="breadcrumb-item active" aria-current="page">View Sub-Technologys</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            </div>

<div class="main-content">
 <div class="col-xl-12 col-lg-12">
                    <div class="panel mb-10">
                        <div class="panel-heading">
                            <span>View All Sub-Technologys</span>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Sub-Technologys</th> 
                                            <th>Technology_ID</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         {% for row in result %}
                                        <tr>
                                            <td>{{row.id}}</td>
                                            <td>{{row.subtech_name}}</td>
                                            <td>{{row.tech_id}}</td>
                                            <td><a href="/myadmin/edit_subtechnology/{{row.id}}"><button type="button" class="btn btn-primary">Edit</button></a></td>
                                            <td><a href="/myadmin/delete_subtechnology/{{row.id}}" type="button" class="btn btn-primary">Delete</a></td>
                                        </tr>
                                         {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="main-content">
  <div class="col-xl-12 col-lg-12">
                    <div class="panel mb-10">
{%endblock%}