{% extends 'user/layout.html' %}
{%load static%}

{%block content%}
<div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold mb-2">About Us</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>About Us</li>
                </ul>
            </div>
        </section>
    </div>

    <div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->

 
</div>
  <div class="w3l-content-photo-5 py-5">
        <div class="container py-lg-5 py-4">
            <div class="row align-items-center">
                <div class="col-md-6 content-photo order-md-first order-last">
                    <a href="#image"><img src="{%static 'user/assets/images/home-ab.png'%}" class="img-fluid" alt="content-photo"></a>
                </div>
                <div class="col-md-6 content-left mb-md-0 mb-5 pl-lg-5 order-md-last order-first">
                    <h3 class="mb-3">Welcome To Coder's Hub</h3>
                    <p>Coder’s Hub is a Web Application which is a combination of discussion forum where user from the IT field can post their project related queries from different technology in a way of screenshot or description and get solution from others at anytime,anywhere.<br>Project Management where developers can upload project with source code to help beginners in learning new technology along with Project. <br>Job Portal where different companies can post their job vacancy and get efficient and perfect candidate and it is free of cost.</p>
                        <p>We provide job in different technologies.Companies has to post a job in different technology.We also provide project template for users.We also provide the solution of technical query.</p>
                        <br />
                   
                </div>
            </div>
        </div>
    </div>
<section class="w3l-about2 py-5">
        <div class="container py-md-5 py-4">
            <div class="row align-items-center">
                <div class="col-lg-7 about-2-secs-right pl-lg-5 mb-lg-0 mb-4">
                      <h3 class="title-big">We Focus On.</h3>
                    <p>
                    </p>
                    <br>
                    <ul>
                        <li><span class="fas fa-check-circle icon-color" aria-hidden="true"></span>Provide Solution to the queries Which are having while developing the    projects.</li> 
                        <li><span class="fas fa-check-circle icon-color" aria-hidden="true"></span>Overcome Gaps between Employer and Job Seeker.</li>
                        <li><span class="fas fa-check-circle  icon-color" aria-hidden="true"></span>Project Upload and Download for Learing Purpose at a free of cost.</li>
                        <li><span class="fas fa-check-circle icon-color" aria-hidden="true"></span>Candidates can upload their resumes for free and search job across any field without having to pay any fee to the job portal..</li>
                    </ul>
                    
                </div>
                <div class="col-lg-5 about-2-secs">
                  <img src="{%static 'user/assets/images/about.png'%}" alt="" class="img-fluid img-responsive">
                </div>
            </div>
        </div>
    </section>

    
   

    <section class="w3l-content-4 py-5" id="features">
        <div class="container py-md-5 py-4">
            <div class="row">
                <div class="content-left col-lg-6">
                    <h3 class="title-big">Passion, Dedication And Hard Work</h3>
                    <p class="mt-4">Purpose of Coder’s Hub is Provide Three In One Developers Problems Solution.</p>
<p class="mt-4">Provide Solution to the Queries And Coding Related Problems which are having while developing the Projects. </p>
<p class="mt-4">Provide Projects Which help Beginners in learning along with New Technology.</p>
<p class="mt-4">Provide help to Employer getting employees as per requirement And Programmers Can find their next dream jobs and Projects easily.</p>
                  
                </div>
                <div class="content-right col-lg-6 pl-lg-4 mt-lg-0 mt-md-5 mt-5 align-self">
                    <div class="row content4-right-grids mb-lg-5 mb-5">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fas fa-blog icon-color"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info">
                            <h6><a href="#url">
                                   Get Quick Solution Of Querys</a>
                            </h6>
                            <p></p>
                        </div>
                    </div>
                    <div class="row content4-right-grids mb-lg-5 mb-5">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-cogs icon-color"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info">
                            <h6><a href="#url">
                                    Multiple Technologys & Projects</a>
                            </h6>
                            <p></p>
                        </div>
                    </div>
                    <div class="row content4-right-grids">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-link icon-color"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info">
                            <h6><a href="#url">
                                    Link Companys With Job Seekers</a>
                            </h6>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  
   

{%endblock%}