{% extends 'user/layout.html' %}
{%load static%}

{%block content%}
<div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold mb-2">Common Form</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> Contact Us</li>
                </ul>
            </div>
        </section>
    </div>

    <div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->
</div>


<div class="mx-auto pt-lg-4 pt-md-5 pt-4" style="max-width:1000px">
                <div class="row contact-block">
                    <div class="col-md-5 contact-left">
                        <h3 class="font-weight-bold mb-md-5 mb-4">Contact Details</h3>
                        <div class="cont-details">
                            
                           
                            
                            <div class="col-lg-10 left-wthree-img mt-lg-0 mt-5 order-lg-first order-last">
                    <img src="{%static 'user/assets/images/service1.png'%}" alt="" class="img-fluid radius-image">
                </div>
                        </div>
                    </div>
                    <div class="col-md-7 contact-right mt-md-0 mt-4">
                        <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="signin-form">
                            <div class="input-grids">
                                <label>Query Title</label>
                                <input type="text" name="w3lName" id="w3lName" placeholder="Your Name*" class="contact-input" required="">
                                <label>Query Title</label>
                                <input type="email" name="w3lSender" id="w3lSender" placeholder="Your Email*" class="contact-input" required="">
                                <input type="text" name="w3lSubect" id="w3lSubect" placeholder="Subject*" class="contact-input" required="">
                                <input type="text" name="w3lWebsite" id="w3lWebsite" placeholder="Website URL*" class="contact-input" required="">
                            </div>

                            <div class="form-input">
                                <textarea name="w3lMessage" id="w3lMessage" placeholder="Type your message here*" required=""></textarea>
                            </div>

                            <button class="btn button-style">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
 
{%endblock%}