{% extends 'user/layout.html' %}

{%load static%}

{% block content %}
    <!-- ======= Hero Section ======= -->
  <section id="home" class="w3l-banner py-5">
        <div class="banner-image">

        </div>
        <div class="banner-content">
            <div class="container pt-5 pb-md-4">
                <div class="row align-items-center">
                    <div class="col-md-6 pt-md-0 pt-4">
                        <h3 class="mb-lg-4 mb-3 title">We Are <span class="typed-text"></span><span
                                class="cursor">&nbsp</span></h3>
                        <p>Coder's Hub is a platform for developers and Beginer programmers to share knowledge and solve coding challenges. It is a combination of a Discussion forum where user from the IT field can post their Coding related queries and project-related queries from different technologies with screenshots and get solutions from others at any time, anywhere.</p>
 
                        <div class="mt-md-5 mt-4 mb-lg-0 mb-4">
                          
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-4">
                        <img class="img-fluid" src="{%static 'user/assets/images/bann1.png'%}" alt=" ">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //banner section -->

    <!-- about section -->
    <div class="w3l-content-photo-5 py-5">
        <div class="container py-lg-5 py-4">
            <div class="row align-items-center">
                <div class="col-md-6 content-photo order-md-first order-last">
                    <a href="#image"><img src="{%static 'user/assets/images/home-ab.png'%}" class="img-fluid" alt="content-photo"></a>
                </div>
                <div class="col-md-6 content-left mb-md-0 mb-5 pl-lg-5 order-md-last order-first">
                    <h3 class="mb-3">Welcome To Coder's Hub</h3>
                    <p style="text-align: justify;">Coder’s Hub is a Web Application which is a combination of discussion forum where user from the IT field can post their project related queries from different technology in a way of screenshot or description and get solution from others at anytime,anywhere.<br>Project Management where developers can upload project with source code to help beginners in learning new technology along with Project. 
                        <br><p>Job Portal where different companies can post their job vacancy and get efficient and perfect candidate and it is free of cost.</p>
                        <p style="text-align: justify;">We provide job in different technologies. Companies has to post a job in different technology. We also provide project template for users.We also provide the solution of technical query.</p>
                        <br />
                   
                </div>
            </div>
        </div>
    </div>
    <!-- //about section -->

    <!-- team with text section -->
  
    <!-- //team with text section -->

    <!-- features section -->
    <section class="features-section pt-5" id="work">
        <div class="container-fluid"><h3 class="title-main-2 text-center mx-auto mb-sm-4 mb-2" style="max-width:600px">A Coder's Hub
                        Provide Best Solution & We make the best !</h3>
            <div class="row">
                <div class="col-lg-4 left-wthree-img order-lg-first order-last">
                    <img src="{%static 'user/assets/images/home1.jpg'%}" alt="" class="img-fluid img-responsive">
                </div>
                <div class="col-lg-8 right-wthree-img align-self order-lg-last order-first">
                    <div class="row text-center">
                        <div class="col-sm-4 col-6 icon-text-style">
                            <i class="fas fa-tablet-alt icon-color"></i>
                            <p>access anywhere anytime</p>
                        </div>
                        <div class="col-sm-4 col-6 icon-text-style">
                            <i class="fab fa-airbnb icon-color"></i>
                            <p>Query Solutions</p>
                        </div>
                        <div class="col-sm-4 col-6 icon-text-style  border-right-0">
                            <i class="fab fa-black-tie icon-color"></i>
                            <p>job placement assistance</p>
                        </div>
                        <div class="col-sm-4 col-6 icon-text-style icon-text-style-2">
                            <i class="fab fa-chromecast icon-color"></i>
                            <p>Multiple Technology support</p>
                        </div>
                        <div class="col-sm-4 col-6 icon-text-style icon-text-style-2">
                            <i class="fas fa-headphones-alt icon-color"></i>
                            <p>Help beginners </p>
                        </div>
                        <div class="col-sm-4 col-6 icon-text-style icon-text-style-2 border-right-0">
                            <i class="fab fa-readme icon-color"></i>
                            <p>Projects</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //features section -->

    <!-- blog section -->
   
    <!-- //blog section -->

    <!-- testimonials section -->
   
    <!-- //testimonials section -->

    <!-- 3 grids -->
    <section class="w3l-features-4">
        <div class="features4-block text-center py-5">
            <div class="container py-md-5 py-3">
                <div class="text-center mb-sm-5 mb-4" style="background-color:orange; border-radius: 10px;">
                
                <h3 class="title-big">Our Services</h3>
                <p>Coder's Hub Are Provide 3 Services.</p>
            </div>
                <div class="row features4-grids justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="features4-grid">
                            <div class="feature-images">
                                <span class="fas fa-business-time icon-color" aria-hidden="true"></span>
                            </div>
                            <h5><a href="contact.html">1. Job & Placements </a></h5>
                           <p style="text-align: justify;">Here in our website the last service is <b>Job Portal</b>. In job portal where different companies can post their job vacancy and get efficient and perfect candidate. Job portal feature makes it easy to find the best jobs.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-2">
                        <div class="features4-grid">
                            <div class="feature-images">
                                <span class="fas fa-laptop-code icon-color" aria-hidden="true"></span>
                            </div>
                            <h5><a href="contact.html">2. Coding & Solutions</a></h5>
                            <p style="text-align: justify;">Here, the word <b>'Get'</b> means various types of queries posted by the users and the word <b>'Answer'</b>means users can give answer for that queries .</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-2">
                        <div class="features4-grid">
                            <div class="feature-images">
                                <span class="fas fa-clipboard-check icon-color" aria-hidden="true"></span>
                            </div>
                            <h5><a href="contact.html">3. Ptojects</a></h5>
                            <p style="text-align: justify;">Here in our website users can upload their projects which are already created with source code if any user need a reference project, they can download these projects and develop their own project.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 3 grids -->

    <!-- promocode section -->
  
{% endblock %}
       